.s-productos {
    display: inline;
  }
  
  .s-productos-h2 {
    text-align: center;
    color: #4c3c3c;
  }
  
  .s-productos-descrip {
    display: inline;
  }
  
  .s-productos-descrip h4 {
    text-align: center;
    padding: 0.625em;
  }
  
  .s-productos-descrip p {
    text-align: center;
  }
  
  /* SECTION PRODUCOS */
  